
/** TYPOGRAPHY **/
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
h1{
	color: rgb(255, 255, 255);
display: block;
font-family: 'Varela Round', sans-serif;
font-size: 46px;
font-style: normal;
font-weight: 300;
height: 64px;
letter-spacing: -2px;
line-height: 64px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
text-shadow: rgb(255, 255, 255) 0px 0px 1px, rgba(0, 0, 0, 0.6) 0px 1px 3px;
text-transform: uppercase;
}
italicized{
	border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: inline;
font-family: Arapey, georgia, serif;
font-size: 23px;
font-style: italic;
font-weight: normal;
height: auto;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;

}



div{
	display: block;
}

button{
background-color: rgb(235, 104, 100);
border-bottom-color: rgb(235, 104, 100);
border-left-color: rgb(235, 104, 100);
border-right-color: rgb(235, 104, 100);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(235, 104, 100);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
cursor: pointer;
font-size: 18px;
font-weight: normal;
height: 39px;
padding-bottom: 29px;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
width: 108%;
}
button:hover{
background-color: rgb(228, 43, 37);
border-bottom-color: rgb(228, 43, 37);
border-left-color: rgb(228, 43, 37);
border-right-color: rgb(228, 43, 37);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(228, 43, 37);
transition: .8s;
}
.title{
	color: rgb(51, 51, 51);
display: block;
font-family: 'gotham rounded', arial, sans-serif;
font-size: 33px;
font-style: normal;
font-weight: 500;
height: 33px;
line-height: 33px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 10px;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
text-transform: uppercase;
width: 100%;
padding-bottom:30px;
}
.subTitle{
color: rgb(122, 143, 163);
display: block;
font-family: Arapey, georgia, serif;
font-size: 19px;
font-style: italic;
font-weight: 500;
height: 19px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
padding-bottom: 15px;
}
#links{
	font-size:140px;
}
.center{
	text-align: center;
}
.line{
	-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px 0px;
display: inline-block;
float: none;
font-family: Arapey, georgia, serif;
font-size: 23px;
font-style: italic;
font-weight: 300;
height: 2px;
line-height: 27px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
position: relative;
text-align: center;
text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
width: 100px;
zoom: 1;
}
.aboutMeDescription{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 17px;
	line-height:21px;
}
.white{
	top: -5px;
	color: rgb(255, 255, 255);
}
.dark{
color: rgb(51, 51, 51);
background-color: rgb(3, 3, 3);
height:2px;
top: -12px;
}
.projectTitle{
font-family: 'Open Sans', sans-serif;
color: rgb(102, 119, 136);
display: block;
font-size: 25px;
font-style: normal;
font-weight: 500;
height: 25px;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
width: 500px;
}
.projectSubTitle{
padding-top:3px;
padding-bottom:5px;
color: #9b59b6;
display: block;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
height: 14px;
line-height: 14px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
width: 500px;
}
.imageBackgroundHeader{
	-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: cover;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: url(http://s3-strikingly-production-v1.global.ssl.fastly.net/assets/themes/fresh/movement.jpg);
background-origin: padding-box;
background-position: 49% 50%;
background-repeat: no-repeat;
background-size: cover;
color: rgb(255, 255, 255);
display: block;
font-family: arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
height: 200px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 117px;
padding-top: 160px;
text-align: center;
text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
width:100%;
}
.inputBoxes{
display: block;
width: 100%;
padding: 6px 12px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 8px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
resize: off;
}
.commentForm{
	width:33%;
	float: left;
	min-height: 1px;
	padding-right:40px;
}

.inputBoxes:focus{
	border-color: #B5B7B9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(112, 123, 132, 0.6);
	-webkit-transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
	transition: border-color ease-in-out .3s,
	box-shadow ease-in-out .3s;
}
.commentBox{
	height:200px;
	resize: none;
	padding-bottom: 0px;
}
.commentContainer{
	width:100%;
}
.contactInfo{
	float: right;
	min-height: 1px;
	margin-left: 10%;
}
#menu{
	position: relative;
	background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #fff;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 13px;
}
#CodingProjects{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #5a5a5a;
}
#mainmenu{
	padding-top:20px;
}
#theForm{
	margin:0 0 20px;
}
.headings{
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin-bottom: 10px;
	font-size: 50px;
	padding-top:.7in;
}
.container{
	display: block;
font-family: arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
line-height: 14px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-top: 0px;
padding-left: 20%;
padding-right: 20%;
padding-top: 60px;
position: relative;
width: 60%;
}
.project-container{
	padding-bottom:30px;
}
.footer{
	width:60%;
	padding-left:20%;
}
.greyBackground{
	height:170px;
	background: #eee;
	background-color: #e7e7e7;
	background-size: cover;

}
.img-circle{
width:35%;
border-radius: 1000px;
-webkit-border-radius: 1000px;
-moz-border-radius: 1000px;
margin-bottom:15px;
}
img:hover{
	-webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px yellow;
}
.clr{
	clear: both;
}
.content{
	position:relative;
    width:580px;
    margin: 0 auto;
    padding-top:20px;
}
.bottomButton{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	display:block;
	width:100%;
	height:40px;
	text-align:center;
}
#Name{
	margin:0px;
	padding:20px;
	font-size:42px;
	text-align:left;
	font-weight:400;
    text-align:left;
}

#Major{
	font-size:22px;
	color:#ddd;
	padding-top:10px;
}
.aboutMeSubHeading{
font-weight: 700;
line-height: 1.1;
color: #999999;
font-size: 20px;
}
blockQuote{
font-size: 15.75px;
font-weight: 300;
line-height: 1.25;
border-right: 2px solid #D7D7D7;
border-left: 0;
display: block;
color: #777777;
width: 40%;
margin-right:0px;
}

.fixednav{
position:fixed;
top:0;
left:0;
right:0;
padding: 10px 0;
width:100%;
height: 23px;
z-index: 9999;
background-color: rgba(255, 255, 255, 1);
color: rgba(1, 1, 1, 0.8);
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #020103;
}
.navLinks{
display: table;
content: "";
line-height: 0;
clear:both;
margin: 3px auto; 
margin: 3px auto;
list-style: none;
}
.navLinksList{
	float:left;
	line-height:20px;
	padding-left:40px;
	font-size:20px;
}
.pullRight{
	float:right;
}
.logo{
	width: 125px;
	float:right;
	border-radius:50%;
	height: 125px;
}
.fa:hover {
	color: #f06060
}
 .menulinks::before,
 .menulinks::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.coolFontz{
font-family: 'Raleway', sans-serif;
	color:#030303;
}
 .menulinks::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

 .menulinks::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.menulinks:hover::before,
.menulinks:hover::after,
.menulinks:focus::before,
.menulinks:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.content{
	margin: 0 20px;
}
.bmenu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.bmenu li{
    font-size: 50px;
    display: block;
}
.project{
display: block;
height: 141px;
line-height: 14px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 20px;
width:100%;
zoom: 1;
padding-top:20px

}
.projectDescription{
font-family: 'Raleway', Arial, sans-serif;
display: block;
float: right;
text-align: left;
margin-left: 10px;
margin-right: 10px;
font-size: 15px;
line-height:16px;
font-style: normal;
font-weight: normal;
height: 135px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-left: 20px;
width: 50%;
}
/*Animations*/
.bmenu li a{
	white-space: nowrap;
	display: block;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(71,80,23,0.3);
	color: #fff;
	padding: 5px 20px;
	margin: 2px;
	background: rgba(255,255,255,0.2);
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.bmenu li:first-child a{
	-webkit-border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
}
.bmenu li:last-child a{
	-webkit-border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 10px #fff;
	color: transparent;
}
.bmenu li a:hover{
	background: transparent;
	text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
}
a{
	color: #9b59b6;
	text-decoration: none;
}
a:hover{
	color:#8e44ad
}
/*Fade Body in */
body{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

body {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

