


div{
	display: block;
}
body{
	background: url(../images/gradient_white.png);
background-size: 20px 100%; 
display:none;
}

button{
background-color: rgb(235, 104, 100);
border-bottom-color: rgb(235, 104, 100);
border-left-color: rgb(235, 104, 100);
border-right-color: rgb(235, 104, 100);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(235, 104, 100);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
cursor: pointer;
font-size: 18px;
font-weight: normal;
height: 39px;
padding-bottom: 29px;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
width: 108%;
}
button:hover{
background-color: rgb(228, 43, 37);
border-bottom-color: rgb(228, 43, 37);
border-left-color: rgb(228, 43, 37);
border-right-color: rgb(228, 43, 37);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(228, 43, 37);
transition: .8s;
}
.inputBoxes{
display: block;
width: 100%;
padding: 6px 12px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 8px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
resize: off;
}
.commentForm{
	width:300px;
	float: left;
	min-height: 1px;
	padding-right:40px;
}

.inputBoxes:focus{
	border-color: #B5B7B9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(112, 123, 132, 0.6);
	-webkit-transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
	transition: border-color ease-in-out .3s,
	box-shadow ease-in-out .3s;
}
.commentBox{
	height:200px;
	resize: none;
	padding-bottom: 0px;
}
.commentContainer{
	width:100%;
}
.contactInfo{
	float: right;
	min-height: 1px;
	margin-left: 20px;
	width:460px;
}
#menu{
	position: relative;
	background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #fff;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 13px;
}
#CodingProjects{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #5a5a5a;
}
#mainmenu{
	padding-top:20px;
}
#theForm{
	margin:0 0 20px;
}
.headings{
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin-bottom: 10px;
	font-size: 50px;
	padding-top:.7in;
}
.container{
	position:relative;
}

img:hover{
	-webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px yellow;
}

a{
	color: #000000;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clr{
	clear: both;
}
.content{
	position:relative;
    width:580px;
    margin: 0 auto;
    padding-top:20px;
}
.bottomButton{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	display:block;
	width:100%;
	height:40px;
	text-align:center;
}
#Name{
	margin:0px;
	padding:20px;
	font-size:42px;
	text-align:left;
	font-weight:400;
    text-align:left;
}

#Major{
	font-size:22px;
	color:#ddd;
	padding-top:10px;
}
#SubName{
	font-size: 39px;
}
.aboutMeSubHeading{
font-weight: 700;
line-height: 1.1;
color: #999999;
font-size: 20px;
}
blockQuote{
font-size: 15.75px;
font-weight: 300;
line-height: 1.25;
padding-right: 13px;
border-right: 2px solid #D7D7D7;
border-left: 0;
display: block;
color: #777777;
width: 40%;
}

.fixednav{
position:fixed;
top:0;
left:0;
right:0;
padding: 10px 0;
width:100%;
height: 35px;
z-index: 9999;
background-color: rgba(255, 255, 255, 0.8);
color: rgba(1, 1, 1, 0.8);
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #020103;
}
.navLinks{
display: table;
content: "";
line-height: 0;
clear:both;
margin: 3px auto; 
margin: 3px auto;
list-style: none;
}
.navLinksList{
	float:left;
	line-height:20px;
	padding-left:40px;
	font-size:20px;
}
blockQuoteSource{
display: block;
line-height: 1.428571429;
color: #999999;
font-size: 11px;
}

.pullRight{
	float:right;
}
.aboutMe{
	padding-top:4px;
	font-size: 20px;
	line-height: 1.428571429;
	color: #777777;
}
.descriptionText{
	padding-top:4px;
	font-size: 16px;
	line-height: 1.428571429;
	color: #777777;
	width:66%;
	float: left;
}
.descriptionTitle{
font-weight: 700;
line-height: 1.1;
color: #999999;
font-size: 20px;
width:47%;
}
.projectTitle{
color: rgb(230, 69, 64);
font-weight: 700;
line-height: 1.1;
font-size: 32px;
width:47%;
float:left;
}
#worksheader{
border-bottom: 1px solid #FFF;
font-size:4em;
font-weight:900;
}
#contactHeader{
border-top: 1px solid #FFF;
font-size:4em;
font-weight:900;
}
#contactfooter{
float: left;
min-height: 1px;
margin-left: 20px;
}

#aboutMeHeader{
border-bottom: 1px solid #FFF;
font-size:4em;
font-weight:900;
}
#footer{
border-top: 1px solid #FFF;
font-size:4em;
font-weight:900;
text-align:center;
}
.level{
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	padding-left:1in;
	width:80%;
	float: left;
	min-height: 1px;
	margin-left: 20px;
	padding-top:.5in;
	padding-bottom:.2in;
}
.logo{
	width: 125px;
	float:right;
	border-radius:50%;
	height: 125px;
}
.fa:hover {
	color: #f06060
}
 .menulinks::before,
 .menulinks::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

 .menulinks::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

 .menulinks::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.menulinks:hover::before,
.menulinks:hover::after,
.menulinks:focus::before,
.menulinks:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}



.circleWrap{
	/*
float:left;
margin:10px;
width: 98px;
height: 98px;
margin: 0 auto 10px;
line-height: 95px;
text-align: center;
border: 1px solid rgba(250,250,250,.9);
border-radius: 50px;
padding-top:15px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
*/
}
.content{
	margin: 0 20px;
}
.bmenu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.bmenu li{
    font-size: 50px;
    display: block;
}
.project{
	display:inline-block;
	padding-top:18px;
}
.bmenu li a{
	white-space: nowrap;
	display: block;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(71,80,23,0.3);
	color: #fff;
	padding: 5px 20px;
	margin: 2px;
	background: rgba(255,255,255,0.2);
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.bmenu li:first-child a{
	-webkit-border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
}
.bmenu li:last-child a{
	-webkit-border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 10px #fff;
	color: transparent;
}
.bmenu li a:hover{
	background: transparent;
	text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
}
colored{
	color: rgb(230, 69, 64);
}
colored:hover{
	
	 color: rgb(255, 11, 3);
}

